@using Orchard.ContentManagement
@using CodeSanook.Configuration.Models

@{
    //add style sheet
    Style.Include("facebook-connect-style.css").AtHead();

    //add  JavaScript
    Script.Require("jQuery").AtHead();
    Script.Require("AngularJs").AtHead();

    //TODO will update with codesanook.common to get require version
    Script.Include("system.js").AtHead();

    //dynamic add shape template and its model for Facebook SDK if not exist
    var shapeItems = WorkContext.Layout.AfterBody.Items as IEnumerable<dynamic>;
    var doesSdkShapeExist = shapeItems.Any(item => item.Metadata.Type == "FacebookSdk");
    if (!doesSdkShapeExist)
    {
        var setting = WorkContext.CurrentSite.As<ModuleSettingPart>();
        WorkContext.Layout.AfterBody.Add(New.FacebookSdk(Setting: setting), "1");
    }
}

<script>
    System.config({
        packages: {
            '': {
                defaultExtension: 'js' //default extension for all packages
            }
        }
    });
    //import main JavaScript
    System.import("/Modules/CodeSanook.FacebookConnect/Scripts/App");
</script>

@if (WorkContext.CurrentUser != null)
{
    <h1>@T("Hello {0}", WorkContext.CurrentUser.UserName)</h1>
}
else
{
    <div class="facebook-connect-app" ng-controller="facebookLogInController as ctrl"
         ng-init="ctrl.init('@Model.ReturnUrl')">
        <a ng-click="ctrl.logIn()" href="">
            Log In with Facebook
        </a>
    </div>
}