.modal-login {
    position: fixed;    
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    background-color: rgba($color: #000000, $alpha: 0.5);
    outline: 0;
}

.container-facebook {
    position: relative;
    transform: translate(0,0);
    display: block;
    background-color: #fff;
    padding: 15px 25px;   
    margin: 3.5rem auto;
    border: 1px solid #707070;
    border-radius: 4px;
    text-align: center;
    width: 50%;
}

.container-facebook p.head-text {
    font-size: 1.5rem;
}

.container-facebook .btn-fb-login {
    margin: 15px 0;
    padding: 5px 15px;
    background-color: #4267b2;
    border-radius: 4px;
    color: #fff;

}

.container-facebook .btn-fb-login .fa {
    margin-right: 5px;
}

.container-facebook .btn-fb-login:hover {
    background-color: #3b5998;
    opacity: 1;
    color: #fff;
    cursor: pointer;
}

.container-facebook .body-text {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: left;
}

.container-facebook .body-text p {
    margin-bottom: 0;
}
.container-facebook .footer {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
}
.container-facebook .footer .btn-back {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px  15px;
    color: #999999;
}

.container-facebook .footer .btn-back:hover {
    background-color: #999999;
    color: #fff;
}

#loading {
    display: none;
}

.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4267b2;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
